<% if (title) { %>
  <h1><%= title %></h1>
<% } else { 
  res.locals.title = "Login" 
} %>

<!-- Flash Message -->
<%- messages() %>

<!-- Login Form -->
<form id="login-form" action="/account/login" method="post">
  <fieldset id="box">
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    
    <input type="submit" value="Login" class="button">
    
    <p>No Account? <a href="/account/register">Sign-up</a></p>
  </fieldset>
</form>
