<!-- THIS IS STEP #5 I CREATED THIS FILE -->

<% if (title) { %>
  <h1><%= title %></h1>
<% } else { 
  res.locals.title = "Vehicle Details" 
} %>

<!-- Flash Messages -->
<%- messages() %>

<!-- Vehicle Detail Content -->
<%- grid %>




