<% if (title) { %>
  <h1><%= title %></h1>
<% } else { 
  res.locals.title = "Vehicle Management" 
} %>

<!-- Flash Messages -->
<%- messages() %>

<h2>Inventory Management</h2>

<p>Welcome to the inventory management system. Use the links below to manage your vehicle inventory:</p>

<div class="management-options">
  <ul>
    <li><a href="/inv/add-classification" title="Add New Classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory" title="Add New Vehicle">Add New Vehicle</a></li>
  </ul>
</div>

  <h2>Manage Inventory</h2>
  <p>Select a classification the the list to see the items.</p>
  <%- classificationSelect %>

  <table id="inventoryDisplay"></table>

  <noscript>JavaScript must be enabled to use this page.</noscript>

  <script src="../../js/inventory.js"></script>
